<div class='container'>
    <h1>Realizar Examen</h1>
    <form role='form'>
        <div class="form-group">
            <label for="email">Paciente:</label>
            <select id='pacientesel' class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="email">No. Registro:</label>
            <select id='registrosel' class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="email">Tipo de Examen:</label>
            <select id='typexam' class="form-control"></select>
        </div>
        <button type="submit" ng-click='realizarExamen()' class="btn btn-primary">Realizar</button>
    </form>
</div>
