<div class='container'>
    <h1>Nuevo Examen</h1>
    <form role='form'>
        <div class="form-group">
            <label for="email">Código de Examen:</label>
            <input type="text" class="form-control" id="idexam">
        </div>
        <div class="form-group">
            <label for="email">Tipo de Examen:</label>
            <input type="text" class="form-control" id="tipoexam">
        </div>
        <div class="form-group">
            <label for="email">Costo de Examen:</label>
            <input type="number" class="form-control" id="tipoexam">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>
