<div class='appointcontainer'>
    <h1 class='header'><u>Reservar Cita</u></h1>
    <form>
        <div class='form-group'>
            <label for='inputformotive'>Motivos:</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class='form-group'>
            <label for='inputfordocto'>Doctor:</label>
            <br>
            <select class="form-control" id="sel2"></select>
        </div>
        <button class='btn btn-primary'>Reservar</button>
    </form>
</div>
