<div class='appointcontainer'>
    <h1 class= 'header'><u>Perfil</u></h1>
    <form>
        <div class='form-group'>
            <label for='inputformotive' >Nombre:</label>
            <br>
        </div>
        <div class='form-group'>
            <label for='inputfordocto'>Direccion:</label><br>
            <br>
        </div>
        <div class='form-group'>
            <label for='inputfordocto'>Ocupacion:</label><br>
            <br>
        </div>
         <div class='form-group'>
            <label for='inputfordocto'>Email:</label><br>
            <br>
        </div>
         <div class='form-group'>
            <label for='inputfordocto'>Telefonos:</label><br>
            <br>
        </div>
         <div class='form-group'>
            <label for='inputfordocto'>Estado Marital:</label><br>
            <br>
        </div>
         <div class='form-group'>
            <label for='inputfordocto'>Sexo:</label><br>
            <br>
        </div>
         <div class='form-group'>
            <label for='inputfordocto'>Enfermedades:</label><br>
            <br>
        </div>
    </form>
</div>