<h1 class='header'><u>Agregar Registro</u></h1>
<form class='registry'>
    <div class='form-group'>
        <label for='inputformotive'>Paciente:</label>
        <select class="form-control" id="sel1"></select>
    </div>
    <div class='form-group'>
        <label for='inputfordocto'>Sintomas:</label>
        <br>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class='form-group'>
        <label for='inputfordocto'>Diagnóstico:</label>
        <br>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class='form-group'>
        <label for='inputfordocto'>Medicamentos:</label>
        <br>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class='form-group'>
        <label for='inputfordocto'>Tipo:</label>
        <br>
        <select class="form-control" id="sel2">
            <option>Consulta</option>
            <option>Hospitalización</option>
        </select>
    </div>
    <button class='btn btn-primary'>Agregar</button>
</form>
